.header {
    color: #e6cf07;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
  }
.header h2 {
    font-size: 4em;
  }
.header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
  }
.btn {
    display: inline-block;
    
    background: #9d5c0d00;
    padding: 10px 16px;
    border-bottom: 3px solid transparent;
    margin-top: 20px;
    font-weight: 500;
  }
  .btn:hover{
    border-color: rgb(240, 198, 10);
  }